<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.train.mapper.SchemeMapper" >
  <resultMap id="BaseResultMap" type="com.train.pojo.Scheme" >
    <id column="no" property="no" jdbcType="INTEGER" />
    <result column="s_name" property="sName" jdbcType="VARCHAR" />
    <result column="s_desc" property="sDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    no, s_name, s_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from scheme
    where no = #{no,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from scheme
    where no = #{no,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.train.pojo.Scheme" >
    insert into scheme (no, s_name, s_desc
      )
    values (#{no,jdbcType=INTEGER}, #{sName,jdbcType=VARCHAR}, #{sDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.train.pojo.Scheme" >
    insert into scheme
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        no,
      </if>
      <if test="sName != null" >
        s_name,
      </if>
      <if test="sDesc != null" >
        s_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        #{no,jdbcType=INTEGER},
      </if>
      <if test="sName != null" >
        #{sName,jdbcType=VARCHAR},
      </if>
      <if test="sDesc != null" >
        #{sDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.train.pojo.Scheme" >
    update scheme
    <set >
      <if test="sName != null" >
        s_name = #{sName,jdbcType=VARCHAR},
      </if>
      <if test="sDesc != null" >
        s_desc = #{sDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where no = #{no,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.train.pojo.Scheme" >
    update scheme
    set s_name = #{sName,jdbcType=VARCHAR},
      s_desc = #{sDesc,jdbcType=VARCHAR}
    where no = #{no,jdbcType=INTEGER}
  </update>
</mapper>